/* Main CSS */
/* leachhardwoodflooring.com */

html,body {
  height: 100%;
  background-color: #333;
  margin: 0px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1, h2, h3, h4, h5, h6 {
  color: #fdffaa;
  font-weight: bold;
}

#callLink {
  color: #C2E0FF;
  font-weight: bold;
}

#callLink:hover {
  text-decoration: underline;
}

.carousel-inner .item img {
  height: 300px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control.right {
  right: 0;
  left: auto;
}

.carousel {
  margin: 15px 0;
}